#firstpoem {
    margin-top: 3em;
    margin-left: 15em;
    border-left: double; 2px solid black;
    padding-left: 10px;
    border-right: double; 2px solid black;
}

#secondpoem {
    margin-top: -1em;
    margin-left: 15em;
    padding-left: 10px;
}

#thirdpoem {
    margin-top: -1em;
    margin-left: 15em;
    padding-left: 10px;
}
#box1 {
    padding-left: 10px;
    border-right: 1px solid black;
}
#box {
    border-left: double; 2px solid black;
    padding-left: 10px;
    border-right: double; 2px solid black;
    border-bottom: double; 2px solid black;
}